body {
    background: url("ponte1.jpg");
    background-size:cover;
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: 'Quicksand', sans-serif;

}
h1 {
    font-size: 80px;
    padding: 0px 60px;
    margin-bottom: 5px;

}
.st {
    font-size:30px;
    opacity: 0.8;
    color:rgb(57, 60, 63);
    padding-right: 60px;
    margin-top: 5px;
        
}
span {
  color: rgb(45, 145, 221);
}

p a {
    text-decoration:none;
    color:rgb(158,51,51);
    font-size: 50px;
    font-weight: 500;
    padding-right: 60px;
}  
ul {
    list-style-type: none;
    margin-top: 50px;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 25px;
}

    li {
    display:inline;
    padding: 5px;
}
ul li a {
    text-decoration: none;
    color: rgb(45, 145, 221);
    height: 500;
    margin: 5px 1px
}
.buton {
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 300;
}

.buton:hover{
    color:black;
}

.paragraph {
    text-align: left;
    margin-bottom: 0px;
    padding-left: 670px;
    padding-top: 385px;
    
    }

.cursor {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(45, 145, 221, 0.253);
    transition: all 0.2s ease-out;
}
 


@media (max-width: 640px) {
   body {
    background: rgb(102, 186, 197);
   }
   h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 180px;
   }

   p {
    font-size:35px;
    text-align: center;
    color:rgb(80, 87, 94) ;

   }

   ul li a {
    color: rgb(80, 87, 94);
    font-size: 60px;
   }

   p a  {
    font-size: 60px;
   }
}